

<%- partial('_partial/bg-cover') %>

<main class="content">
    <div id="aboutme" class="container about-container">
        <div class="card">
            <div class="card-content article-card-content">
                <div id="articleContent">
                    <%- page.content %>
                </div>
            </div>
        </div>
    </div>
</main>
